<%= provide :titulo , 'Home' %>
<div class='center jumbotron'>
    <h1> Microblog </h1>
    <p>Esta e a pagina principal da aplicação Blog desenvolvida durante o Laboratorio de Engenharia de Software .</p>
    <%= link_to 'Posts', posts_path , class: 'btn btn-lg btn-primary' %>
</div>
