<%= provide :titulo , "Index" %>
<div>   
    <h1> Blog App </h1>
    <p>Esta e a pagina principal da aplicacao Blog desenvolvida durante o Laboratorio de Engenharia de Software .</p>
    <%= link_to "Posts", posts_path %>
</div>